<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.chronick.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!--
    You declare a need for foreground location when your app requests either
    the ACCESS_COARSE_LOCATION permission or the ACCESS_FINE_LOCATION permission, as shown in the following snippet:
    -> Always include this permission android.permission.ACCESS_COARSE_LOCATION
    -> Include only if your app benefits from precise location access android.permission.ACCESS_FINE_LOCATION
    -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/letter_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/letter_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!--
        android:usesCleartextTraffic="true"  // HTTP with clear text is TRUE
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MainActivity"
            android:foregroundServiceType="location"
 />
    </application>

</manifest>